@model CloudUniversity.Models.CourseAssignment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CourseAssignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EnrollmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
